{% extends "blog_app/base.html" %}
{% block title %}{{ post.titulo }}{% endblock %}

{% block content %}
<h1>{{ post.titulo }}</h1>
<p class="date">
  Published {{ post.publicar }} by {{ post.autor }}
</p>

{{ post.body|linebreaks }}
<p>
  <a href="{% url "blog_app:post_compartilhar" post.id %}">
    Compartilhar esse post
  </a>
</p>


<h2>Postagens Semalhantes</h2>
  {% for post in similar_posts %}
  <p>
    <a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a>
  </p>
  {% empty %}
    Não existem postagens semalhantes ainda.
  {% endfor %}

{% with comments.count as total_comments %}
<h2>
{{ total_comments }} comentario {{ total_comments|pluralize }}
</h2>
{% endwith %}

{% for comentario in comentarios %}
<div class="comentario">
  <p class="info">
    Comentario {{ forloop.counter }} by {{ comentario.nome }}
    {{ comentario.criado }}
  </p>
  {{ comentario.body|linebreaks }}
</div>
{% empty %}
  <p>Não existem comentário ainda.</p>
{% endfor %}


{% if novo_comentario %}
  <h2>Seu comentário foi adicionado</h2>

{% else %}
  <h2>Adicionar novo comentário</h2>
  <form method="post">
    {{ comentario_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Adicionar comentario" ></p>
  </form>
{% endif %}

{% endblock %}
